body {
  font: 12px/1.5 "微软雅黑", arial, tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.lh20 {
  line-height: 20px !important;
  padding: 4px 0px;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
div,
input,
header,
footer,
section {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/20px "微软雅黑", "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
html {
  font-size: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  color: #fff;
}
header {
  height: 0.92rem;
  background-color: #FA3432;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0.27rem;
  padding-right: 0.36rem;
  color: #fff;
  font-size: 0.28rem;
}
header .iconfont {
  font-size: 0.5rem;
}
.detailtop {
  height: 2.22rem;
  background-color: #d80607;
  color: #fff;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3c01), to(#d80607));
  background-image: linear-gradient(to bottom, #ff3c01, #d80607);
  padding-top: 0.5rem;
}
.detailtop .bigcase {
  font-size: 0.68rem;
  height: 0.7rem;
  line-height: 0.7rem;
}
.detailtop .smallcase {
  font-size: 0.3rem;
  height: 0.32rem;
  line-height: 0.32rem;
  margin-top: 0.42rem;
}
.qixian {
  height: 0.79rem;
  border-bottom: 1px solid #f1f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1.12rem;
  font-size: 0.3rem;
  color: #777;
}
.detailpage {
  height: 2.87rem;
  background-color: #fff;
  padding: 0.56rem 0.56rem;
}
.detailpage .listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background: url(../img/detail_icon_bg.png) no-repeat;
  background-size: 6.4rem 2.03rem;
}
.detailpage .listitem .item {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.2rem;
  padding-top: 0.15rem;
  padding-bottom: 0.1rem;
}
.detailpage .listitem .item span {
  font-size: 0.24rem;
  color: #ffc166;
  margin-left: 0.16rem;
}
.detailpage .listitem .item img {
  width: 0.55rem;
  height: 0.55rem;
}
.status {
  height: 5.46rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding-left: 0.33rem;
  padding-right: 0.36rem;
}
.status .tranglewrap {
  height: 0.5rem;
  width: 0.6rem;
  position: absolute;
  top: -0.48rem;
  left: -0.3rem;
  -webkit-transition: left .5s;
  transition: left .5s;
}
.status .tranglewrap .rect {
  width: 0.6rem;
  height: 0.32rem;
  background-color: #FB0502;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.32rem;
  text-align: center;
}
.status .tranglewrap .trangle {
  width: 0rem;
  height: 0rem;
  border-top: 0.12rem solid #fb0502;
  border-right: 0.07rem solid transparent;
  border-bottom: 0.12rem solid transparent;
  border-left: 0.07rem solid transparent;
  margin-top: 0.02rem;
  margin: 0.02rem auto;
}
.status .long {
  height: 0.16rem;
  background-color: #F0F0F0;
  border-radius: 0.08rem;
  position: relative;
}
.status .long .red {
  background-color: #FB0502;
  height: 100%;
  border-radius: 0.08rem;
  width: 0rem;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.status .hased {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.24rem;
}
.status .hased p {
  font-size: 0.22rem;
  color: #808080;
}
.status .hased span {
  color: #FF0000;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1.05rem;
  background-color: #F0F0F0;
  padding-left: 0.36rem;
  padding-right: 0.14rem;
  font-size: 0.32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer button {
  width: 5.17rem;
  height: 0.82rem;
  border-radius: 0.1rem;
  outline: none;
  border: 0;
  background-color: #FA3432;
  font-size: 0.32rem;
  color: #fff;
  margin-left: 0.51rem;
}
footer a {
  color: #FF9900;
  text-decoration: underline;
}
#mask {
  position: absolute;
  display: none;
  top: 0.92rem;
  bottom: 1.05rem;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#mask .masklist {
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: #FA3432;
}
#mask .masklist li {
  width: 25%;
  text-align: center;
  font-size: 0.2rem;
  height: 0.8rem;
  line-height: 0.3rem;
  border-right: 1px solid #FDA6A4;
}
#mask .masklist li:last-child {
  border-right: none;
}
#mask .masklist li a {
  color: #FA3432;
}
#mask .masklist .iconfont {
  display: block;
  font-size: 0.35rem;
  margin-bottom: 0.1rem;
}
